:root {
    --dark: #143109;
    --heading-color: #AAAE7F;
    --border-color: #F7F7F7;
    --code-color: #EFEFEF;
    --border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark);
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, .card-info{
    color: var(--heading-color);
}

header p {
    color: var(--border-color);
    text-align: center;
    width: 60%;
    margin: 0 0 15px 0;
}

code{
    color: var(--code-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "flexbox-row flexbox-column css-grid"
    "linear-gradients box-transition-glow overlay-title";
    margin: 20px;
}

#flexbox-row {
    grid-area: flexbox-row;
}

#flexbox-column {
    grid-area: flexbox-column;
}

#css-grid {
    grid-area: css-grid;
}

#linear-gradients {
    grid-area: linear-gradients;
}

#box-transition-glow {
    grid-area: box-transition-glow;
}

#overlay-title {
    grid-area: overlay-title;
}

.code-card {
    margin: 30px 15px;
    border: 2px dashed var(--border-color);
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.card-header {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    top: -40px;
    z-index: 100;
    background-color: var(--dark);
    width: 90%;
    text-align: left;
    padding: 5px;
}

.card-snippet {
    margin-top: 15px;
    margin-bottom: 0;
    max-width: 100%;
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        rgba(170, 174, 127, 0.3) 0%,
        rgba(170, 174, 127, 0.6) 100%
    );
    flex-grow: 1;
}

h2 {
    margin:0 auto;
}

.card-info {
    text-align: justify;
}

@media only screen and (max-width:991px) {
body {
    font-size: larger;
}
#cardGrid {
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "flexbox-row flexbox-column"
    "css-grid linear-gradients" 
    "box-transition-glow overlay-title";
    margin: 20px;
}
}

@media only screen and (max-width: 767px) {
    body {
        font-size: larger;
    }
    #cardGrid {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "flexbox-row"
        "flexbox-column"
        "css-grid"
        "linear-gradients" 
        "box-transition-glow"
        "overlay-title";
        margin: 20px;
    }
}