:root {
    --dark: #143109;
    --heading-color: #AAAE7F;
    --border-color: #F7F7F7;
    --code-color: #EFEFEF;
    --border-radius: 5px;
}

body{
    background-color: var(--dark);
    margin: 0 auto;
}

h1, h2, .card-info{
    color: var(--heading-color);
}

header p {
    color: var(--border-color);
}

code{
    color: var(--code-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "flexbox-row flexbox-column css-grid"
    "linear-gradients box-transition-glow overlay-title";
}

#flexbox-row {
    grid-area: flexbox-row;
}

#flexbox-column {
    grid-area: flexbox-column;
}

#css-grid {
    grid-area: css-grid;
}

#linear-gradients {
    grid-area: linear-gradients;
}

#box-transition-glow {
    grid-area: box-transition-glow;
}

#overlay-title {
    grid-area: overlay-title;
}

.code-card {
    margin: 15px;
    border: 5px dashed var(--border-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}